@page {
    padding: 15px;
  }
@media print {
    @page {
      padding: 15px;
    }
}


.p-panelmenu-header-active {
  background-color: #007ad9;
  color: white;
}

.p-menuitem-link-active {
  color: white;
}

.p-menuitem-link {
  color: black;
}
