/* PenalMenu Navbar */
.p-panelmenu .p-panelmenu-content{
  background-color: transparent;
  padding: 0;
}
/* PenalMenu Navbar */


/* DataTable */
/* .p-datatable-header{
  background:#1e293b;
} */
.dark .p-datatable-header {
  @apply bg-slate-800 text-white font-semibold; /* Dark mode header */
}

/* Table Cell Customization */
.p-datatable .p-datatable-thead > tr > th {
  @apply bg-blue-50 dark:bg-gray-700 text-black dark:text-white border-b dark:border-gray-600;
}

.p-datatable .p-datatable-tbody > tr > td {
  @apply bg-white dark:bg-slate-900 text-black dark:text-white border-b dark:border-gray-700;
}

.p-datatable .p-datatable-tbody > tr:hover {
  @apply bg-blue-200 dark:bg-slate-700;
}

.p-paginator .p-paginator-pages .p-paginator-page {
  @apply bg-blue-50 dark:bg-gray-800 text-black dark:text-white border dark:border-gray-600;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  @apply bg-blue-500 text-white;
}
/* DataTable */